<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Super bikes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1 id="super-bike-title">Hello Super bike fan!!!</h1>
       
    <div *ngFor="let b of bikes">
      <p>{{b.model}}, {{b.year}}</p>
    </div>

    <p *ngIf="myBike">La bicicleta 3 es del modelo: {{myBike.model}}</p>

    <ion-button color="primary" (click)="goToOtherPage()">Go to other page</ion-button>
    <ion-button color="secondary" (click)="addAnotherBicycle()">Add another bicycle</ion-button>
    <ion-button color="secondary" (click)="addAnotherBicycleUsingJSON()">Add another bicycle USING JSON</ion-button>
  </div>
  <p>hola</p>
</ion-content>
